<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1><%=shopName%></h1>
    <div class="topnav">
      <a href="/">HOME</a>
      <a href="about">About <%=shopName%></a>
      <a href="list">Buy</a>
      <a href="additem">Sell</a>
      <a href="bargainitems">Best Deals</a>
      <a href="weather"> Todays Weather</a>
      <% if (loggedIn) { %>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/login">Login</a>
      <% } %>
      <!-- Search Bar-->
      <div class="dropdown">
        <button class="dropbtn">
          SEARCH
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <form action="/search-result" method="get">
            <input type="text" name="keyword" placeholder="Search..." />
            <button type="submit">Go</button>
          </form>
        </div>
      </div>
      <a href="basket">Basket</a>
  </div>
    <h2>What we sell at <%=shopName%></h2>
    <p>List of our clothes:</p>
    <ul>
      <% for (let i = 0; i < availableItems.length; i++) { %>
        <li>
          <h3><%= availableItems[i].name %></h3>
          <p><%= availableItems[i].brand %></p>
          <p><%= availableItems[i].size %></p>
          <p>£<%= availableItems[i].price %></p>
          <!-- Display image if available -->
          <% if (availableItems[i].image_path) { %>
            <img src="/<%= availableItems[i].image_path %>" alt="<%= availableItems[i].name %> Image" width="200">
            <% console.log(availableItems[i].image_path); %>
          <% } else { %>
            <p>No image available</p>
          <% } %>
          <form method="POST" action="/addToBasket">
            <input type="hidden" name="name" value="<%= availableItems[i].name %>">
            <input type="hidden" name="brand" value="<%= availableItems[i].brand %>">
            <input type="hidden" name="size" value="<%= availableItems[i].size %>">
            <input type="hidden" name="price" value="<%= availableItems[i].price %>">
            <input type="hidden" name="image" value="/<%= availableItems[i].image_path %>">
            <button type="submit" class="registerbtn">Add to Basket</button>
          </form>
        </li>
        <br/>
      <% } %>
    </ul>

  </body>
</html>